/.vs
/_ReSharper.Caches
/CrashDumpAnalyzer/bin
/CrashDumpAnalyzer/obj
/FileUpload
/*.dmp
/CrashDumpAnalyzer/publish
/CrashDumpAnalyzer/appsettings.json
/WebApplication.db
/WebApplication.db-shm
/WebApplication.db-wal
/CrashDumpAnalyzer/CrashDumpAnalyzer.csproj.user
/CrashDumpAnalyzer/Properties/PublishProfiles/FolderProfile.pubxml.user
/CrashDumpAnalyzer/CrashDumpAnalyzer.csproj.DotSettings.user
/TestProject/bin
/TestProject/obj
/CrashDumpAnalyzer.sln.DotSettings.user
/testfiles
/CrashDumpAnalyzer/CrashDumpAnalyzer.json
