@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4 title">@ViewData["Title"]</h1>

<p>We don't collect personal data. The only thing we record is the ip-address from where a dump is uploaded from.
    And we use that in case we need to ask for more info about a dump (if we can determine the computer from the ip address inside our company).</p>
